src/main/resources/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://web.customerdataservice.cyril.fr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CustomerWS" targetNamespace="http://web.customerdataservice.cyril.fr/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://web.customerdataservice.cyril.fr/" elementFormDefault="unqualified" targetNamespace="http://web.customerdataservice.cyril.fr/" version="1.0">

  <xs:element name="addCustomer" type="tns:addCustomer"/>

  <xs:element name="addCustomerResponse" type="tns:addCustomerResponse"/>

  <xs:element name="customerById" type="tns:customerById"/>

  <xs:element name="customerByIdResponse" type="tns:customerByIdResponse"/>

  <xs:element name="customerList" type="tns:customerList"/>

  <xs:element name="customerListResponse" type="tns:customerListResponse"/>

  <xs:complexType name="customerById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="customerByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:customer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="customerList">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="customerListResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:customer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:customerDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="customerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addCustomerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:customer"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="addCustomerResponse">
    <wsdl:part element="tns:addCustomerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="customerById">
    <wsdl:part element="tns:customerById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCustomer">
    <wsdl:part element="tns:addCustomer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="customerByIdResponse">
    <wsdl:part element="tns:customerByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="customerListResponse">
    <wsdl:part element="tns:customerListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="customerList">
    <wsdl:part element="tns:customerList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerSoapService">
    <wsdl:operation name="customerById">
      <wsdl:input message="tns:customerById" name="customerById">
    </wsdl:input>
      <wsdl:output message="tns:customerByIdResponse" name="customerByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="customerList">
      <wsdl:input message="tns:customerList" name="customerList">
    </wsdl:input>
      <wsdl:output message="tns:customerListResponse" name="customerListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCustomer">
      <wsdl:input message="tns:addCustomer" name="addCustomer">
    </wsdl:input>
      <wsdl:output message="tns:addCustomerResponse" name="addCustomerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerWSSoapBinding" type="tns:CustomerSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="customerById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="customerById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="customerByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="customerList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="customerList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="customerListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCustomer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addCustomer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addCustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerWS">
    <wsdl:port binding="tns:CustomerWSSoapBinding" name="CustomerSoapServicePort">
      <soap:address location="http://localhost:8081/services/CustomerService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>